html{
  scroll-behavior: smooth;
}

.banner img {
  display: block;
  width: 100%;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: -2px;
}

.intro-container {
  margin-top: 0;
}

.ads-container {
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image-banner {
  margin: 20px 0;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
}

.image-banner img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
}

.flash-sales {
  color: #fff;
  text-align: center;
  height: 100%;
  line-height: 50px;
  border-radius: 5px;
  margin-top: -20px;
  background-color: rebeccapurple;
}

.flash-sales span {
  color: red;
}

.products-samples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.samples {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.samples-2 {
  display: flex;
  gap: 5px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.samples-2 img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 5px;
}

.samples img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.product-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.contact button {
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact button:hover {
  opacity: 0.7;
  background: #333333;
  color: #ffffff;
  cursor: pointer;
}

.contact img {
  display: block;
  position: relative;
  border-radius: 10px;
}

.contact img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.load-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.load-button button {
  margin: 10px;
  width: 170px;
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  background: #333333;
}

.load-button button:hover {
  opacity: 0.7;
  background: #333333;
  color: #ffffff;
  cursor: pointer;

}
