<!-- Section for banner image -->
<div class="banner">
  <img ngSrc="{{banner}}" alt="" width="1332" height="150">
</div>

<!-- Intro section for all the products -->
<div class="intro-container">
  <div class="ads-container">
    <div class="image-container">
      <img ngSrc="{{image_banner}}" alt="" width="400" height="380">
    </div>

    <div class="intro-images">
      <div class="image-banner">
        <img ngSrc="{{image_1}}" alt="" width="400" height="180">
      </div>

      <div class="image-banner">
        <img ngSrc="{{image_2}}" alt="" width="400" height="180">
      </div>
    </div>

    <div class="intro-images">
      <div class="image-banner">
        <img ngSrc="{{image_3}}" alt="" width="400" height="180">
      </div>

      <div class="image-banner">
        <img ngSrc="{{image_4}}" alt="" width="400" height="180">
      </div>
    </div>
  </div>
</div>

<!-- Flash sales text -->
<div class="flash-sales">
  <h4><img ngSrc="{{imageTruck}}" alt="" width="20" height="20"> Free shipping on any order above ₦50,000.GET EXTRA 5%
    DISCOUNT,
    FOLLOW US ON
    FACEBOOK <span>Eddy's hair
        Empire</span></h4>
</div>

<!--&lt;!&ndash; All the products &ndash;&gt;-->
<!--  <div class="products-container">-->
<!--      &lt;!&ndash;item 1&ndash;&gt;-->
<!--      <div class="products">-->
<!--        <div class="product-info">-->
<!--          @if (moreImages) {-->
<!--            <div class="samples-1">-->
<!--              <div><img ngSrc="{{hairProduct_2}}" alt="" width="400" height="310"></div>-->
<!--              <div><img ngSrc="{{hairProduct_2}}" alt="" width="400" height="310"></div>-->
<!--              <div><img ngSrc="{{hairProduct_2}}" alt="" width="400" height="310"></div>-->
<!--            </div>-->
<!--          } @else {-->
<!--            <div class="samples-2">-->
<!--              <img ngSrc="{{hairProduct_1}}" alt="" width="400" height="310">-->
<!--              <img ngSrc="{{hairProduct_1}}" alt="" width="400" height="310">-->
<!--            </div>-->
<!--          }-->

<!--          <h3>{{ productName_1 }}</h3>-->

<!--          @if (moreImages) {-->
<!--            <div class="product-text">-->
<!--              <p>Original normal bone straight, </p>-->
<!--            </div>-->
<!--          }-->

<!--          <div class="contact">-->
<!--            <button>Buy now <img ngSrc="https://res.cloudinary.com/zone0/image/upload/arrow-right-circle-fill_b0a5tr.png"-->
<!--                                 alt="" width="20" height="18"></button>-->
<!--            <a href="https://wa.me/message/N2QKWIIFRLCVN1"><img-->
<!--              ngSrc="https://cdn-icons-png.flaticon.com/512/124/124034.png" alt="" width="40" height="35"></a>-->

<!--            <button (click)="hideBtn()">Hide items</button>-->
<!--            <button (click)="showBtn()">View items</button>-->
<!--          </div>-->
<!--        </div>-->

<!--&lt;!&ndash;items 2&ndash;&gt;-->
<!--        <div class="product-info">-->
<!--          @if (moreImages_2) {-->
<!--            <div class="samples-1">-->
<!--              <div><img ngSrc="{{hairProduct_2_a}}" alt="" width="400" height="310"></div>-->
<!--              <div><img ngSrc="{{hairProduct_2_a}}" alt="" width="400" height="310"></div>-->
<!--              <div><img ngSrc="{{hairProduct_2_a}}" alt="" width="400" height="310"></div>-->
<!--            </div>-->
<!--          } @else {-->
<!--            <div class="samples-2">-->
<!--              <img ngSrc="{{hairProduct_2_aa}}" alt="" width="400" height="310">-->
<!--              <img ngSrc="{{hairProduct_2_aa}}" alt="" width="400" height="310">-->
<!--            </div>-->
<!--          }-->

<!--          <h3>{{ productName_2_a }}</h3>-->

<!--          @if (moreImages_2) {-->
<!--            <div class="product-text">-->
<!--              <p>Original normal bone straight, </p>-->
<!--            </div>-->
<!--          }-->

<!--          <div class="contact">-->
<!--            <button>Buy now <img ngSrc="https://res.cloudinary.com/zone0/image/upload/arrow-right-circle-fill_b0a5tr.png"-->
<!--                                 alt="" width="20" height="18"></button>-->
<!--            <a href="https://wa.me/message/N2QKWIIFRLCVN1"><img-->
<!--              ngSrc="https://cdn-icons-png.flaticon.com/512/124/124034.png" alt="" width="40" height="35"></a>-->

<!--            <button (click)="hideBtn_2()">Hide items</button>-->
<!--            <button (click)="showBtn_2()">View items</button>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->

<!--  </div>-->
<!--<div class="load-button">-->
<!--  <button (click)="loadMoreItems()">updating products..</button>-->
<!--</div>-->

<div class="updating-items">
  <h4>Products Catalogues will be updated in a few days..</h4>
</div>
